/* 暂时存放到这的， 用来设置 container video 的基本样式 */
container {
  position: relative;
}

container,
video {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  outline: none;
}

video:focus {
  outline: none;
}

/* 用到的变量 */
:root {
  --barColor: #f06000;
  --trackColor: #ffffff;
}


/* 全局默认样式 */
.chimee-flex-component svg g, .chimee-flex-component svg path{
  fill: #fff;
  stroke: #fff;
}

.chimee-flex-component svg:hover g {
  fill: #fff;
  stroke: #fff;
}

/* 默认隐藏 */
chimee-volume-state-mute,
chimee-volume-state-low,
chimee-volume-state-high,
chimee-control-state-pause,
chimee-control-state-play,
chimee-progressbar-preview,
chimee-progressbar-preview-btn,
chimee-screen-full,
chimee-clarity-list,
chimee-screen-small {
  display: none;
}

/* 满足条件时显示 */
chimee-control.full chimee-screen-full,
chimee-control.small chimee-screen-small,
chimee-volume.mute chimee-volume-state-mute,
chimee-volume.low chimee-volume-state-low,
chimee-volume.high chimee-volume-state-high,
chimee-control.pause chimee-control-state-pause,
chimee-control.play chimee-control-state-play,
chimee-control.full chimee-screen-full,
chimee-control.small chimee-screen-small {
  display: inline-block;
  width: 1.4em;
  height: 100%;
}

/* 开始写具体样式 */
chimee-control {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  line-height: 2em;
  font-size: 16px;
  user-select: none;
  overflow: hidden;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  transition: visibility 0.5s ease;
}

chimee-control-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  transition: bottom 0.5s ease;
  pointer-events: auto;
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8),rgba(0,0,0,.45) 45%,rgba(0,0,0,0) 95%)
}

chimee-control-wrap-left{
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
}
chimee-control-wrap-right{
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
}

.chimee-flex-component {
  display: inline-block;
  // vertical-align: middle;
  height: 40px;
  // line-height: 40px;
  cursor: pointer;
}

.chimee-flex-component svg {
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

/* 播放器状态，播放／暂停 */
chimee-control-state.chimee-flex-component {
  margin-left: 15px;
  width: 40px;
}

/* 播放器状态，播放／暂停 动画效果 */
chimee-control-state .left,
chimee-control-state .right {
  transition: d 0.2s ease-in-out;
}

/* 播放器下一集 */
chimee-control-playnext {
  width: 40px;
}

chimee-control-playnext:hover chimee-control-nextvideoinfo{
  display: block;
}

.u-next-box{
  display: none;
  position: absolute;
  bottom: 60px;
  left: 16px;
  width: 275px;
  padding: 10px 20px 0;
  overflow: hidden;
  background: rgba(28,28,28,.9);
  border-radius: 4px;
  text-align: left;
}

.u-next-box h2 {
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  opacity: .7;
  font-weight: 400;
}

.u-next-box .nextbox {
  width: 275px;
  height: 84px;
  display: block;
  padding: 0 0 10px 0;
}

.u-next-box .nextbox .pic{
  margin: 0;padding: 0;
  float: right;
  margin-left: 15px;
}


.u-next-box .nextbox .n{
  margin: 0;padding: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  color: #fff;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.u-next-box .nextbox .t{
  line-height: 18px;
  color: #fff;
  margin-top: 6px;
}

chimee-control-nextvideo-tip.u-next-box{
  right: 16px;
  left: auto;
}
chimee-control-nextvideo-tip .tit i{color: #f06000;font-style: normal;}

/* 时间显示 */
chimee-progresstime.chimee-flex-component {
  color: #fff;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
}

chimee-progresstime-pass,
chimee-progresstime-total {
  display: inline;
}

chimee-progresstime-total span{
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}

/* 播放器控制条 */
chimee-progressbar.chimee-flex-component {
  position: absolute;
  bottom: 40px;
  left: 0px;
  height: 10px;
  width: 100%;
  margin-left: 0px;
}

chimee-progressbar-wrap {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
}

.chimee-progressbar-line {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 6px;
}

chimee-progressbar-bg {
  width: 100%;
  background: #fff;
  opacity: .4;
}

chimee-progressbar-buffer {
  width: 0;
  background: #fff;
  opacity: .5;
}

chimee-progressbar-all {
  background: var(--barColor);
}

chimee-progressbar-ball {
  content: '';
  position: absolute;
  right: -7px;
  top: -4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  display: block;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
}

chimee-progressbar-keypoint {
  position: absolute;
  right: -4px;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  display: block;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
}

chimee-progressbar-preview {
  position: absolute;
  bottom: 40px;
  width: 130px;
  height: 74px;
  background: #212121;
  color: #fff;
  border-radius: 4px;

  background-image: url(https://2img.hitv.com/preview/frame_images/pcframes/2018/zongyi/96863/2149453/12364584_1.jpg);
  background-position: -910px 0px;
}

chimee-progressbar-tip {
  position: absolute;
  bottom: 0px;
  right: 6px;
  color: #fff;
}

chimee-progressbar-preview-line {
  position: absolute;
  bottom: 16px;
  width: 1px;
  height: 13px;
  background: #fff;
  opacity: 0.8;
}

chimee-progressbar-preview-btn {
  position: absolute;
  bottom: 0px;
  width: 3px;
  height: 12px;
  background: #fff;
  opacity: 0.8;
  pointer-events: none;
}

/* 音量控制 */
chimee-volume.chimee-flex-component {
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
  margin-right: 10px;
  position: relative;
}

chimee-volume.chimee-flex-component.vertical {
  padding-right: 10px;
}

chimee-volume-state {
  display: inline-block;
  width: 2em;
  vertical-align: top;
}

/* 动画所用到的元素 css */
chimee-volume .ring1,
chimee-volume .ring2,
chimee-volume .line {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  transition: stroke-dashoffset 0.7s ease-in-out;
}

chimee-volume.mute .line,
chimee-volume.mute .ring1,
chimee-volume.mute .ring2 {
  stroke-dashoffset: 0;
}

chimee-volume.high .ring1,
chimee-volume.high .ring2 {
  stroke-dashoffset: 0;
}

chimee-volume.low .ring2 {
  stroke-dashoffset: 0;
}

chimee-volume.vertical:hover chimee-volume-bar {
  display: inline-block;
}

chimee-volume.vertical chimee-volume-bar {
  position: absolute;
  top: -7em;
  left: -0.2em;
  width: 2em;
  height: 4em;
  padding-bottom: 3em;
  display: none;
  vertical-align: middle;
}

chimee-volume.vertical chimee-volume-bar::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1em;
  background: #212121;
  border-radius: 4px;
}

chimee-volume.horizonal chimee-volume-bar {
  position: relative;
  height: 1.2em;
  width: 4em;
  display: inline-block;
  vertical-align: middle;
}

chimee-volume.vertical chimee-volume-bar-wrap {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  left: 0;
  top: 1em;
  right: 0;
  height: 4em;
}

chimee-volume.vertical chimee-volume-bar-all,
chimee-volume.vertical chimee-volume-bar-bg {
  position: absolute;
  bottom: 0;
  left: 1em;
  display: inline-block;
  width: 2px;
  border-radius: 4px;
}

chimee-volume.vertical chimee-volume-bar-bg {
  height: 4px;
  background: #fff;
  opacity: 0.4;
}

chimee-volume.vertical chimee-volume-bar-all {
  background: #fff;
}

chimee-volume.vertical chimee-volume-bar-all::after {
  content: '';
  position: absolute;
  right: -0.34em;
  top: -0.4em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.8em;
  background: #fff;
  pointer-events: none;
}

chimee-volume.horizonal chimee-volume-bar {
  position: relative;
  height: 1.2em;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
}

chimee-volume.horizonal chimee-volume-bar-all,
chimee-volume.horizonal chimee-volume-bar-bg {
  position: absolute;
  top: 8px;
  left: 0;
  display: inline-block;
  height: 4px;
}

chimee-volume.horizonal chimee-volume-bar-bg {
  width: 70px;
  background: #fff;
  opacity: 0.4;
}

chimee-volume.horizonal chimee-volume-bar-all {
  background: #fff;
}

chimee-volume.horizonal chimee-volume-bar-all::after {
  content: '';
  position: absolute;
  right: -0.4em;
  top: -0.3em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.8em;
  background: #fff;
  pointer-events: none;
}

/* 全屏 */
chimee-screen.chimee-flex-component {
  margin-left: 10px;
  width: 40px;
}

/* 清晰度切换 */
chimee-clarity.chimee-flex-component {
  position: relative;
  color: #fff;
  width: 40px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

chimee-clarity.on chimee-clarity-list {
  display: inline-block;
}

chimee-clarity.chimee-flex-component svg {
  width: auto;
  height: auto;
}

chimee-clarity-list {
  position: absolute;
  left: -20px;
  bottom: 60px;
  width: 84px;
  overflow: hidden;
  background: rgba(28,28,28,.9);
  border-radius: 4px;
  box-sizing: content-box;
  line-height: 0;
}

chimee-clarity-list ul {
  margin: 0;
  padding: 10px 0;
  background: rgba(28,28,28,.9);
  font-size: 16px;
  line-height:30px;
}

chimee-clarity-list li {
  width: 100%;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
}

chimee-clarity-list li.vip  svg {
  fill: #ddaf5a;
  stroke: #ddaf5a;
  display:inline-block;
  margin-left: 6px;
  width: 15px;
  height: 15px;
  line-height: 30px;
}

chimee-clarity-list li.vip  svg path {
  fill: #ddaf5a;
  stroke: #ddaf5a;
}

chimee-clarity-list li:hover,
chimee-clarity-list li.active {
  color: var(--barColor);
}


/* 设置 */
chimee-setting.chimee-flex-component{
  width: 40px;
  margin-left: 10px;
}

chimee-setting-panel {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 16px;
  width: 210px;
  height: 50px;
  background: #212121;
  opacity: 0.95;
  color: #fff;
  line-height: 50px;
  border-radius: 4px;
  padding-left: 20px;
  font-size: 16px;
}

chimee-setting.on chimee-setting-panel{display: block;}

chimee-setting-panel span{
  margin-right: 20px;
}

chimee-setting-panel span.yes{
  color: var(--barColor);
}

